[settings]
ALLOWED_HOSTS = []
SENTRY_SDK_DSN =

[database]
ENGINE =
NAME =
USER =
PASSWORD =
HOST =
PORT =

[celery]
CELERY_BROKER_URL =

[discordlogin]
DISCORD_CLIENT_ID =
DISCORD_REDIRECT_URI =
SCOPE =

[pnw]
ALLIANCE_ID =
OFFSHORE_ID =
API_KEY =
OFFSHORE_KEY =
EMAIL =
PASSWORD =
MOD_WEBHOOK_ID =
MOD_WEBHOOK_TOKEN =