asgiref==3.2.10
certifi==2020.6.20
chardet==3.0.4
dj-static==0.0.6
Django==3.1.2
django-colorfield==0.3.2
idna==2.10
PyMySQL==0.10.1
pytz==2020.1
requests==2.24.0
sqlparse==0.4.1
static3==0.7.0
urllib3==1.25.11
celery~=5.0.5
redis==3.5.3
django-celery-beat==2.1.0
django-celery-results==2.0.0
gspread~=3.6.0
oauth2client~=4.1.3
django-autocomplete-light==3.8.1
beautifulsoup4~=4.9.3
django-tables2==2.3.4
sentry-sdk==0.20.3