@charset "utf-8";

@font-face {
    font-family: 'Trajan Pro Regular';
    src: url(../fonts/Trajan-Pro-Regular.ttf);
}

@font-face {
    font-family: 'Audrey Normal';
    src: url(../fonts/Audrey-Normal.otf);
}

@font-face {
    font-family: 'Whitney';
    src: url(../fonts/whitney-medium.otf);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Trajan Pro Regular';
    --ff-secondary: 'Audrey Normal';
    --ff-discord: 'Whitney';

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-discord-background: #303136;
    --clr-discord-dark: #202225;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --clr-aa-red: #830800;
    --clr-aa-brown: #A57D48;
    --crl-aa-beige: #F7DBB2;

    --fs-h1: 3 ram;
    --fs-h2: 2.25rem;
    --fs-h3: 1.15rem;
    --fs-body: 1rem;

}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5 ram;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

html {
    background: url('../images/background.png') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /*min-width: 1100px;*/
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
	background-color: rgba(85, 85, 85, 0.37);
}

.user_handler {
    position: fixed;
    top: 28px;
    right: 30px;
    transform: translateY(-3px);

    text-align: right;
}

#avatar {
    height: 51px;
    width: 51px;
    border-radius: 100%;
    margin-right: 10px;
}

#avatar:hover {
    cursor: pointer;
    opacity: .75;
}

.avatar_dropdown {
    /*width: 252px;*/
    height: 52px;
    padding: 8px 16px;
    margin: 10px 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex: 1 1 auto;

    background-color: #303030;
    border-radius: 4px;

    font-family: var(--ff-discord);

    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition-property: opacity, visibility, transform;
    transition-duration: .2s, .4s, .4s;
    transition-delay: 0s, 0s, 0s;
}

#logged_as {
    line-height: 16px;
    font-size: 12px;
    font-weight: 400;
    color: #b9bbbe;
    font-family: inherit;
    text-align: left;

    margin-bottom: 0;
    margin-right: 30px;
}

#discord_tag {
    text-align: left;

    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #f6f6f7;
    margin-bottom: 0;
    margin-right: 30px;
}

#discriminator {
    color: #72767d;
}

#log_out {
    margin: 0;
    padding: 0;
    outline: 0;
    color: #f04747;
    font-size: 15px;
    font-family: inherit;
    font-weight: 400;
    line-height: 18px;
}

#login {
    padding: 0 20px !important;
    border-radius: 7px;
    border: 3px solid #830800;

    font-family: var(--ff-primary) !important;
    color: #830800 !important;
    font-size: 30px !important;
    font-weight: bold;
}

#login:hover {
    background-color: #830800 !important;
    color: #F7DBB2 !important;
}

#login:focus {
    box-shadow: 0 0 0 0.2rem rgba(131, 8, 0, 0.34) !important;
}

#login:active #login:visited {
    background-color: transparent !important;
    color: #830800 !important;
}

body {
    background-color: transparent !important;
}

loader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--crl-aa-beige);
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: center;
}

loader > img {
    position: absolute;
    width: 5%;

    z-index: 1000;

    -webkit-animation:loader_rotation 4s linear infinite;
    -moz-animation:loader_rotation 4s linear infinite;
    animation: loader_rotation 4s linear infinite;
}

@-moz-keyframes loader_rotation { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes loader_rotation { 100% { -webkit-transform: rotate(360deg); } }
@keyframes loader_rotation { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }