@charset "utf-8";

@font-face {
    font-family: 'Trajan Pro Regular';
    src: url(../fonts/Trajan-Pro-Regular.ttf);
}

@font-face {
    font-family: 'Audrey Normal';
    src: url(../fonts/Audrey-Normal.otf);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Trajan Pro Regular';
    --ff-secondary: 'Audrey Normal';

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3 ram;
    --fs-h2: 2.25rem;
    --fs-h3: 1.15rem;
    --fs-body: 1rem;

}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5 ram;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

html {
    background: url('../images/background.png') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.user_handler {
    position: fixed;
    top: 28px;
    right: 30px;
    transform: translateY(-3px);
}

#login {
    padding: 0px 20px !important;
    border-radius: 7px;
    border: 3px solid #830800;

    font-family: var(--ff-primary) !important;
    color: #830800 !important;
    font-size: 30px !important;
    font-weight: bold;
}

#login:hover {
    background-color: #830800 !important;
    color: #F7DBB2 !important;
}

#login:focus {
    box-shadow: 0 0 0 0.2rem rgba(131, 8, 0, 0.34) !important;
}

#login:active #login:visited {
    background-color: transparent !important;
    color: #830800 !important;
}

body {
    background-color: transparent !important;
}