{% extends 'cotlsite/layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'cotlsite/css/home.css' %}">
{% endblock %}

{% block header %}
    <div class="blur-overlay"></div>

    {% if user.is_authenticated %}
        <img src="https://images.cotl.pw/banners/blessed.png" id="banners" alt="Banner">
    {% else %}
        <img src="https://images.cotl.pw/banners/lost-souls.png" id="banners" alt="Banner">
    {% endif %}

    <nav>
        <div class="hamburger">
            <div class="bar1"></div>
            <div class="bar2"></div>
        </div>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="#">Guides</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Members</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tools</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    <audio id="anthem" hidden>
        <source src="{% static 'cotlsite/audio/light-from-darkness.mp3' %}" type="audio/mp3">
    </audio>

    <div class="home-logo">
        <a class="aa-symbol-parent" href="https://politicsandwar.com/alliance/id=7452" target="_blank"><img id="aa-symbol" src="{% static 'cotlsite/images/aa-symbol.png' %}" alt="AA Symbol"></a>
        <img id="children-of-the-light" src="{% static 'cotlsite/images/children-of-the-light.png' %}" alt="Children of the Light">
    </div>

    <button id="play-pause-button">
        <span id="play-button"><i class="fas fa-play"></i></span>
        <span id="pause-button"><i class="fas fa-pause"></i></span>
    </button>
{% endblock %}

{% block footer %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Work in Progress!</strong> This page does not lead anywhere at the moment.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <script src="{% static 'cotlsite/js/home.js' %}"></script>
{% endblock %}
