{% extends 'cotlsite/layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'cotlsite/css/tools.css' %}">
{% endblock %}

{% block body %}
    <div id="calculator">
        <div class="sliders">
            <label for="soldierSlider">Soldiers:</label>
            <input class="form-control values" id="valueSoldier" type="number">
            <input class="slider" id="soldierSlider" max="100" min="1" step="0.001" type="range" value="50"/>
        </div>
        <div class="sliders">
            <label for="tankSlider">Tanks:</label>
            <input class="form-control values" id="valueTank" type="number">
            <input class="slider" id="tankSlider" max="100" min="1" step="0.001" type="range" value="50"/>
        </div>
        <div class="sliders">
            <label for="aircraftSlider">Aircraft:</label>
            <input class="form-control values" id="valueAircraft" type="number">
            <input class="slider" id="aircraftSlider" max="100" min="1" step="0.001" type="range" value="50"/>
        </div>
        <div class="sliders">
            <label for="shipsSlider">Ships:</label>
            <input class="form-control values" id="valueShips" type="number">
            <input class="slider" id="shipsSlider" max="100" min="1" step="0.001" type="range" value="50"/>
        </div>
        <div class="sliders">
            <label for="infraSlider">Infrastructure:</label>
            <input class="form-control values" id="valueInfra" type="number">
            <input class="slider" id="infraSlider" max="100" min="1" step="0.001" type="range" value="50"/>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script src="{% static 'cotlsite/js/tools.js' %}"></script>
{% endblock %}