{% extends 'cotlsite/layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'cotlsite/css/tools.css' %}">
{% endblock %}

{% block body %}
    <div id="calculator">
        <h2>
            Drop Calculator
        </h2>
{#        {% cycle %}#}
        <div class="sliders">
            <div class="slider_header">
                <span class="lock" id="lockSoldier"></span>
                <label for="soldierSlider">Soldiers:</label>
                <input class="form-control values" id="valueSoldier" type="number">
            </div>
            <input class="slider" id="soldierSlider" max="100" min="0" step="1" type="range" value="50"/>
        </div>
        <div class="sliders">
            <div class="slider_header">
                <span class="lock" id="lockTank"></span>
                <label for="tankSlider">Tanks:</label>
                <input class="form-control values" id="valueTank" type="number">
            </div>
            <input class="slider" id="tankSlider" max="100" min="0" step="1" type="range" value="50"/>
        </div>
        <div class="sliders">
            <div class="slider_header">
                <span class="lock" id="lockAircraft"></span>
                <label for="aircraftSlider">Aircraft:</label>
                <input class="form-control values" id="valueAircraft" type="number">
            </div>
            <input class="slider" id="aircraftSlider" max="100" min="0" step="1" type="range" value="50"/>
        </div>
        <div class="sliders">
            <div class="slider_header">
                <span class="lock" id="lockShips"></span>
                <label for="shipsSlider">Ships:</label>
                <input class="form-control values" id="valueShips" type="number">
            </div>
            <input class="slider" id="shipsSlider" max="100" min="1" step="0" type="range" value="50"/>
        </div>
        <div class="sliders">
            <div class="slider_header">
                <span class="lock" id="lockInfra"></span>
                <label for="infraSlider">Infrastructure:</label>
                <input class="form-control values" id="valueInfra" type="number">
            </div>
            <input class="slider" id="infraSlider" max="100" min="1" step="0" type="range" value="50"/>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script src="{% static 'cotlsite/js/tools.js' %}"></script>
{% endblock %}